<form action="/cars/add" method="POST">
  Make
  <input type="text" name="make" value="{{make}}" />
  <br />
  Model
  <input type="text" name="model" value="{{model}}" />
  <br />
  Year
  <input type="number" name="year" value="{{year}}" />
  <br />
  Price Per Day
  <input type="number" name="pricePerDay" value="{{pricePerDay}}" />
  <br />
  Power
  <input type="number" name="power" value="{{power}}" />
  <br />
  Image
  <input type="url" name="image" value="{{image}}" />
  <br />
  <input type="submit" value="Save" />
</form>